body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: rgb(0, 128, 117);
    color: lightgreen;
  }
  
  h1 {
    color: blue;
  }
  
  h2 {
    color: black;
  }
  
  p {
    margin-bottom: 10px;
  }